<article class="post">
    <div class="post-title">
        <div class="title-div">
            <a href="/post/{{ id }}">{{ title }}</a>
             {{#if_equals num_comments  0 operator=">"}}
            <span class="comment-count">( {{num_comments}} {{format_plural 'Comment' num_comments}} )</span>
            {{/if_equals}}
        </div>
        {{#if_equals created_at updated_at operator=">=" }}
        <div class="meta">Posted by {{ user.username }} on {{
            format_date created_at }}
        </div>
        {{else}}
        <div class="meta">Updated by {{ user.username }} on {{ format_date updated_at }}</div>
        {{/if_equals}}
    </div>
    <div class="post-content">
        {{ content }}
        {{#if edit}}
        <p>edit</p>
        {{/if}}
    </div>
</article>
